<div class="container">
  <div class="row">
  
    <div class="col-6 form_container">
  <!-- from currency dropdown -->
      <div>
        <mat-form-field>
          <mat-label>Original Currency</mat-label>
          <mat-select [(ngModel)]="originalCurrency"> 
            @for (currency of currencies; track currency) {
            <mat-option [value]="currency.name">{{currency.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
  <!-- to currency Dropdown -->
      <div>
        <mat-form-field>
          <mat-label>To currency</mat-label>
          <mat-select [(ngModel)]="convertedCurrency">
            @for (currency of currencies; track currency) {
            <mat-option [value]="currency.name">{{currency.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
  <!-- Amount input box -->
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Value</mat-label>
          <input matInput placeholder="Enter Amount" [(ngModel)]="value" type="number" >
        </mat-form-field>
      </div>
      <!-- submission button -->
      <div>
        <section>
          <div class="example-button-row">
            <button mat-flat-button (click)="convertCurrency(originalCurrency, convertedCurrency)">Convert</button>
          </div>
        </section>
      </div>
  <!-- Result box -->
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Result: </mat-label>
          <input matInput placeholder="Converted Value" [value]="convertedValue" [disabled]="true" type="number">
        </mat-form-field>
      </div>
  
      
    </div>
    <div class="col-6">
      <table mat-table [dataSource]="history" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="fromCurrency">
          <th mat-header-cell *matHeaderCellDef>From Currency</th>
          <td mat-cell *matCellDef="let element"> {{element.fromCurrency}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="toCurrency">
          <th mat-header-cell *matHeaderCellDef>To Currency</th>
          <td mat-cell *matCellDef="let element"> {{element.toCurrency}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="convertedAmount">
          <th mat-header-cell *matHeaderCellDef>Converted Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.convertedAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>Time stamp</th>
          <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Timestamp </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container> -->
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>